@model Section1

<form method = "post">
    <lable>Headre</lable>
    <input asp-for="Header"  />
    
    <lable>Title</lable>
    <input  asp-for="Title"  />
    <lable>Title</lable>

    <input  asp-for="Description"  />
    <input value="Create" type ="submit" />



</form>
