@model Section1


<form method="post">

    <lable>Headre</lable>
    <input asp-for="Header"  />

    <lable>Description</lable>
    <input  asp-for="Description"  />
    
    <lable>Subheader</lable>
    <input  asp-for="SubHeader"  />

    <lable>title</lable>

    <input  asp-for="Title"  />

    <input value="Edit" type ="submit" />

</form>
<a asp-action = "Back"> Back</a>
